<h1>Manage Bookings</h1>

<% @host_bookings.each do |booking| %>
  <div class="container">
    <div class="card-product d-flex justify-content-between">
      <img src="<%= cl_image_path booking.character.photos.all.first.nil? ? '' : booking.character.photos.all.first.key, height: 300, width: 400, crop: :fill %>" class="card-img-top" alt="...">
      <div class="card-product-infos">
        <h2><%= booking.character.name %></h2>
        <p>Dates: <%= booking.start_date %> to <%= booking.end_date %></p>
        <p>Total: <%= booking.character.price %>$</p>
        <p>Status: <%= booking.status %></p>
      </div>
      <div class="card-product flex-column align-items-start w-25">
          <div class="status">
            <% if booking.status != "Confirmed" %>
            <button class="btn btn-outline-success"><%= link_to "Confirm", edit_status_path(booking, 1), data: { 'turbo-method': :patch }%></p>
            <button class="btn btn-outline-danger"><%= link_to "Deny", edit_status_path(booking, 2), data: { 'turbo-method': :patch }%></p>
            <% end %>
          </div>
          <p class="status">Booked by <%= booking.user.email %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
