<nav class="navbar bg-white fixed-top">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "4u.png" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <%# <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5> %>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item active">
            <%= link_to "All Characters", "/characters", class: "nav-link" %>
          </li>
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "My Characters", "/my-characters", class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "My Bookings", "/my-bookings", class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Manage bookings", "/host-bookings", class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        </ul>
        <% end %>
        <%# <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> %>
      </div>
    </div>
  </div>
</nav>
