<div id="home-container" >
  <div class="banner d-flex justify-content-center align-items-center">
    <div id="all_img_banner" class="image col-9 banner-image" onload="document.div.style.opacity='1'">
      <%= image_tag "home-page-body.jpg", id: "home-page-banner"  %>
      <%= image_tag "home-page-lunette.png", id: "home-page-banner-lunette"  %>
      <%= image_tag "home-page-goute.png", id: "home-page-banner-goute"  %>
      <%= image_tag "home-page-deco.png", id: "home-page-banner-deco"  %>
      <%= image_tag "home-page-tatoo.png", id: "home-page-banner-tatoo"  %>
    </div>
    <div class="banner-text"><p>Be who you want to be... <br> or <strong>RENT IT</strong>!</p></div>
  </div>
</div>
