<div class="container">
  <%= form_with url: characters_path, method: :get, class: "d-flex my-1 search" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a character"
    %>
    <%= submit_tag "Search", class: "btn btn-warning" %>
  <% end %>

  <div class="cards">
    <% @characters.each do |character| %>
      <sl-card class="card-overview">
        <img
          slot="image"
          src="<%= cl_image_path character.photos.all.first.nil? ? '' : character.photos.all.first.key, height: 300, width: 350, crop: :fill %>"
          alt=""
        />
        <h2><%= link_to character.name, character_path(character) %></h2>

        <div slot="footer">
          <%= link_to "Book me!", character_path(character), class: "sl-button pill warning" %>
          <h5 class="card-trip-pricing">$<%= character.price %>/day</h5>
        </div>
      </sl-card>
    <% end %>
  </div>
</div>
